
 /* *{
    border:1px solid black;
}  */
h2{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size:2.2rem;
    line-height:1.5;
    font-weight:800;
}
h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.5rem;
    line-height:1.5;
    font-weight:700;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size:3rem;
    font-weight: bold;
    line-height:1.5;
}
.navbar{
    padding-bottom:4.5rem;
}
#title{
    background:#ff4c68; 
    color:white;
}
.iphone{
    transform: rotate(25deg);
    display: block;
    width:60%;
    position: relative;
    top:3.5rem; 
    margin: auto;
}
@media screen and (max-width:970px){
    h1{
        font-size:2rem;
        margin-top:-0.5rem;
    }
}
.overflow{
    overflow-y: hidden;
    overflow-x: hidden;
}
.container-fluid{
    padding:3% 15% 0 15%;
    
}
.btn-light{
    background-color: transparent;
    color:white;
}
.search{
    color:white;
    border-color: white;
}
.download_btn{
    margin:5% 3% 5% 0;
}
.fas{
    color:#ff4c68;
    font-size:3rem;
}
#features{
    text-align: center;
    margin:5% auto 5% auto;
}

#testimonials{
    text-align: center; 
    /* margin:5% auto 5% auto; */
    background-color: #ff4c68;
    color:white;
    padding-top:100px;
    padding-bottom:100px;
}
.testinomial-image{
    width:20%;
    border-radius:50%;
    padding:10px;
}
#press{
    text-align:center;
    background:#ff4c68;
}
.press-image{
    width:15%;
    margin:20px 20px 50px 20px;
}
.sign-up{
    background-color:#ff4c68;
    border:none;
    color:white;
}
.center{
    box-shadow:10px 10px 10px #ff4c68;
}
#cta{
    background-color: #ff4c68;
    color:white;
}
#footer{
    background-color: #ff4c68;
}